# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.DS_Store
/Do Not Deploy
/src/.DS_Store
/src/FileCabinet/.DS_Store
/src/FileCabinet/SuiteScripts/.DS_Store
/project.json